body {
        margin:0;
        font-family:Arial, sans-serif;
        background:#f5f7fa;
    }
    header {
        background:#d9eaf1;
        padding:15px 40px;
        height: 30px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        border-bottom:1px solid #ccc;
    }
    header nav a { margin:0 15px;
        text-decoration:none;
        color:#333;
        font-weight:bold;
    }
    header nav a.active {
        background:#fff;
        padding:6px 12px;
        border-radius:20px;
    }
    .logo img {
        height: 100px;
        width: auto;
        display: block;
    }
    .title {
        text-align:center;
        font-size:40px;
        margin-top:30px;
        margin-bottom:20px;
    }
    .grid {
        max-width:1200px;
        margin:auto;
        display:grid;
        grid-template-columns:repeat(2,1fr);
        gap:30px;
    }
    .card {
        display:flex;
        gap:20px;
        background:white;
        padding:20px;
        border-radius:12px;
        box-shadow:0 2px 8px rgba(0,0,0,0.1);
    }
    .card img {
        width:40%;
        border-radius:12px;
        object-fit:cover;
    }
    .info h3 {
        margin:0;
        font-size:20px;
    }
    .location {
        margin:5px 0;
        color:#0077cc;
        font-size:14px;
        text-decoration:underline;
        cursor:pointer;
    }
    .rating {
        margin-top:10px;
        display:flex;
        align-items:center;
        gap:10px;
        font-size:16px;
        font-weight:bold;
    }
    .score {
        background:#e6f0ff;
        padding:6px 12px;
        border-radius:8px;
    }
    .btn {
        margin-top:15px;
        padding:10px 20px;
        border-radius:8px;
        border:1px solid #333;
        background:white;
        cursor:pointer;
    }

    footer {
        background: #d9eaf1;
        padding: 40px 20px;
        margin-top: 60px;
    }
    .footer-grid {
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    footer h4 {
        margin-bottom: 10px;
    }
    footer p {
        margin: 6px 0;
    }